<%- include("header") -%>

<h2>
    Jupiter Enterprises is a company with footprint in various sectors in many countries.
</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptate, adipisci ratione neque dolorum placeat, debitis eum, facere doloremque voluptatum consequatur! Recusandae eaque labore quis rerum! Voluptatum quibusdam voluptas molestias!
</p>

<%- include("footer") -%>